[submodule "terraform-scalr-local_new2"]
	path = terraform-scalr-local_new2
	url = https://github.com/RomanMytsko/submodules.git
[submodule "terraform-scalr-local-new"]
	path = terraform-scalr-local-new
	url = https://github.com/RomanMytsko/submodules.git
[submodule "local_exec"]
	path = local_exec
	url = https://github.com/RomanMytsko/local_exec.git
